<launch>

  <!-- Load map -->
  <param name="map_dir" value="$(find gazelle_sim_line_course)/map" />
  <rosparam command="load"
            file="$(find gazelle_sim_line_course)/map/line_course.yaml" />

  <!-- Load robot -->
  <rosparam command="load"
            file="$(find gazelle_sim)/robot/basic_differential_circ.yaml" />


  <!-- Gazelle Sim -->
  <include file="$(find gazelle_sim)/launch/gazelle_sim.launch">
    <arg name="show_rviz" value="false" />
    <arg name="show_steering" default="false" />
    <arg name="show_image_view" default="true" />
    <arg name="show_dynamic_reconfigure" default="true" />
  </include>

   <!-- Launch line following node -->



</launch>
